<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">

<head>
  <title>Add Employee</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<body>

<div class="container">

  <h3>Add New Employee</h3>
  <hr/>

  <form th:action="@{/employee/saveEmployee}" th:object="${employee}" method="post">

    <input type="text" th:field="*{id}"  class="form-control col-4 mb-4" placeholder="Enter Id"/>

    <input type="text" th:field="*{Name}"   class="form-control col-4 mb-4" placeholder="Enter Name" />

    <input type="text" th:field="*{empDept}" class="form-control col-4 mb-4" placeholder="Enter Deptartment" />

    <input type="text" th:field="*{empSalary}" class="form-control col-4 mb-4" placeholder="Enter Salary" />

    <button type="submit" class="btn btn-primary col-2">Save</button>


  </form>
  <hr/>
  <a th:href="@{/employee/list-employee}">Back to list</a>
</div>

</body>
</html>